{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <div class="container col-8 my-4">

        <h1 class="display-4 bg-dark text-white text-center rounded shadow-lg">Articles</h1>

        <div class="row mt-4 justify-content-center">

            {% for p in product %}
                <div class="card bg-light mx-2 mb-3 col-md-3 col-sm-5 col-xs-10 text-black fw-bolder" style="max-width: 20rem;">
                    <div class="card-header d-flex justify-content-center">
                        <img class="img-fluid" src="{{ p.picture }}">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ p.title }}</h4>
                        <p class="card-text">{{ p.content }}</p>
                        <small class="text-black">Prix : {{ p.price }}€</small>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn col-10 m-2 text-info">{{p.category.name}}</a>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn col-4 m-2 btn-light" href="{{path('app_show', {'id': p.id})}}">Voir</a>
                        <a class="btn col-4 m-2 btn-success" href="#">Ajouter</a>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}
